{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            display: flex;
            justify-content: center;
            max-width: 800px;
            width: 95%;
            margin: auto;
            font: 18px/1.5 sans-serif;
        }

        .input-wrapper{
            display: flex;
            flex-direction: column;
        }
    </style>

    <div class="example-wrapper">
        <ul>
            <h1>Create new User</h1>
            {{ include('user/_form.html.twig') }}
            <a href="{{ path('user_index') }}">back to list</a>
        </ul>
    </div>
{% endblock %}